---
import { ItemMenu } from "./ItemMenu";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faHome, faGears } from "@fortawesome/free-solid-svg-icons";
import { faAddressBook, faNewspaper, faLemon } from "@fortawesome/free-regular-svg-icons";
---

<div
  class="fixed sidebar min-h-screen w-[3.35rem] overflow-hidden border-r hover:w-56 bg-white hover:shadow-lg ease-in duration-300"
>
  <div class="flex h-screen flex-col justify-between pt-2 pb-6">
    <div>
      <div class="w-max p-2.5">
        <FontAwesomeIcon className="h-8 w-8 text-yellow-400" icon={faLemon} />
      </div>
      <ul class="mt-6 space-y-2 tracking-wide">
        <li class="min-w-max">
          <ItemMenu active={true} icon={faHome} label="Home" />
        </li>
        <li class="min-w-max">
          <ItemMenu active={false} icon={faNewspaper} label="Articles" />
        </li>
        <li class="min-w-max">
          <ItemMenu active={false} icon={faAddressBook} label="About" />
        </li>
      </ul>
    </div>
    <div class="min-w-max -mb-3">
      <ItemMenu active={false} icon={faGears} label="Settings" />
    </div>
  </div>
</div>
